In [1]:
from sqlalchemy import create_engine
from sqlalchemy import URL

url_object = URL.create(
    "postgresql+pg8000",
    username="postgres",
    password="postgres",  # plain (unescaped) text
    host="db",
    database="ferris",
)

engine = create_engine(url_object)

In [2]:
engine.connect()

In [3]:
import pandas as pd


pd.read_sql("SELECT 1;",engine)

   ?column?
0         1