In [1]:
import json
from pathlib import Path
import os
import czapi.api as api
import czapi
import czapi_utils as utils
import pandas as pd

print(czapi.__version__)

0.1.9

In [2]:
base_path = Path(os.getcwd())
CONFIG_FILE = 'config.json'
config_path = base_path/CONFIG_FILE

In [3]:
with open(config_path) as file:
    data = json.load(file)

print(data)

{'event_ids': [7508, 7450, 7403, 7543, 7405, 7472, 7562, 7473, 7135, 7754, 7707, 7316]}

In [4]:


# def make_frame_from_event_list(event_id_list:list[str],**kwargs)->pd.DataFrame:
#     return pd.concat([utils.make_frame_from_event(event=api.Event(cz_event_id=event_id,**kwargs)) for event_id in event_id_list],sort=True,axis=0).reset_index(drop=True)


# df = make_frame_from_event_list(event_id_list = data['event_ids'],delay=2)
# df.head()

In [5]:
df = utils.make_frame_from_event(event=api.Event(cz_event_id=7508))
df.head()

,draw,draw_num,final_score,guid,hammer_progression,hammer_start,href,relative_score,score,team_name
0,Draw: 1,1,6,151213346673832731189844010970064619338,"[False, True, True, False, True, True, False, ...",False,event.php?view=Team&eventid=7508&teamid=161238...,"[0, -1, -3, 0, -1, -1, 0, 1]","[0, 0, 3, 0, 0, 1, 1, 1]",Pat Ferris
1,Draw: 1,1,4,151213346673832731189844010970064619338,"[True, False, False, True, False, False, True,...",True,event.php?view=Team&eventid=7508&teamid=162606#1,"[0, 1, 3, 0, 1, 1, 0, -1]","[1, 2, 0, 1, 0, 0, 0, 0]",Carter Bryant
2,Draw: 1,1,3,249708437979294166090433971846797461660,"[True, False, True, True, False, True, True]",True,event.php?view=Team&eventid=7508&teamid=162606...,"[0, 2, -1, -1, 0, -3, -5]","[2, 0, 0, 1, 0, 0, X]",Mark Kean
3,Draw: 1,1,8,249708437979294166090433971846797461660,"[False, True, False, False, True, False, False]",False,event.php?view=Team&eventid=7508&teamid=162606...,"[0, -2, 1, 1, 0, 3, 5]","[0, 3, 0, 0, 3, 2, X]",Landan Rooney
4,Draw: 1,1,6,68149902915723226210278057867990163227,"[False, True, False, False, False, False, False]",False,event.php?view=Team&eventid=7508&teamid=161276...,"[0, -1, 0, 1, 2, 4, 5]","[0, 1, 1, 1, 2, 1, X]",Darryl Sobering